name: Build CS 1.6 DLL

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-2019

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2

    - name: Build (Win32 Release)
      run: |
        msbuild hack.sln /p:Configuration=Release /p:Platform=Win32

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: build-output
        path: |
          **/Release/*.dll
          **/Release/*.exe
